body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/web-basics-projects/15-wp-todolist/assets/fondo.jpg');

}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 0px;
    border: 4px solid black;
    border-radius: 20px;
    background-color: white;
    min-height: 500px;
    width: 650px;
    font-family: Arial, Helvetica;
    font-weight: 600;
    font-size: 2.5rem;
}

.title {
    padding-bottom: 20px;
}

.entrada-tarea input {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.4rem;
}

#boton {
    cursor: pointer;
    width: 120px;
    height: 40px;
    margin: 20px 0px;
    font-size: 1rem;
}

#contenedor-tareas {
    width: 80%;
    margin-top: 10px;
}

.tarea {
    width: 100%;
    height: 60px;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    color: white;
    background-color: #074180;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 2px solid black;
}


.boton-estado {
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.boton-estado:hover {
    cursor: pointer;
    font-size: 1.3rem;
    background-color: #a7b3b9;
    border: none;
    width: 30px;
    height: 30px;
}

.boton-eliminar {
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.boton-eliminar:hover {
    cursor: pointer;
    font-size: 1.3rem;
    background-color: #a7b3b9;
    border: none;
    width: 30px;
    height: 30px;
}

.tarea.completada {
    text-decoration: line-through;
    background-color: black;
    border: none;
}